# git add 时的忽略文件
*~
*.o
*.a
.scon*
*.log
collector
libs/libredis.a
libs/debug/*
libs/release/*
bin/debug/*
bin/release/*
bin/Simulator/bin/*
bin/Simulator/lib/*
bin/Simulator/playdevice/*
bin/Simulator/*.bat
obj/*
release/*
.anjuta/*
.anjuta_*
*.anjuta
.sconf_temp/*
*.layout
*.ak
*.dk
workspace.xml
tools/test_data/.idea/workspace.xml
err
CMakeCache.txt
CMakeFiles/*
*.cmake
